<template name="businessesList">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Quik Eatz</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        <button data-action="getResults" type="submit" class="button button-full button-positive">
          Get Restaurants
        </button>
        {{#unless loading}}
          {{#if results.count}}
            <form onsubmit="return false;">
              <div class="list list-inset">
                <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="text" name="search" placeholder="Search" id="filter">
                </label>
              </div>
              <div class="padding" id="results-count"></div>
            </form> 

            {{#each results}}
              <div class="results-list">
                {{> business}}
              </div>
            {{/each}}
          {{/if}}
         
        {{/unless}}
      </div>
    {{/ionContent}}
  {{/ionView}}
  {{> footer}}
</template>
