<template name="businessesList">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Restaurants</h1>
  {{/contentFor}}

  {{#ionContent}}
    {{#if currentUser}}
      <button class="button button-full button-positive" data-action="logout">Logout</button>
    {{/if}}
    <button data-action="getResults" type="submit" class="button button-full button-positive">
      Get Restaurants
    </button>
    {{#if loading}}
    {{else}}
      {{#if results}}
         <form>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" name="search" placeholder="Search" id="filter">
            </label>
          </div>
          <div class="padding" id="results-count"></div>
        </form> 

        {{#each results}}
          <div class="results-list">
            {{> business}}
          </div>
        {{/each}}
      {{/if}}
    {{/if}}
  {{/ionContent}}
</template>
