<template name="settings">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Quik Eatz</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      <form onsubmit="return false;">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input class="username-input" name="username" type="text" value="{{currentUser.username}}">
          </label>
        </div>
      </form>
      <div class="padding">
        <button class="button button-full button-positive" data-action="logout">Logout</button>
      </div>
      <p></p>
    {{/ionContent}}
  {{/ionView}}
  {{> footer}}
</template>