<template name="favorites">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="restaurants"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Quik Eatz</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      {{#if favorites.count}}
        <div class="padding">
          <h2>My Favorites</h2>
          <div class="results-list">
            {{#each favorites}}
              {{>favorite}}
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
  {{> footer}}
</template>

<template name="favorite">
  <div class="item item-icon-right">
    <a href="{{pathFor 'businessPage' _id=businessId}}">
    <h2>{{businessName}}</h2>
    </a>
    <a href="#" data-action="favorite">
      <i class="icon ion-android-favorite favorite-active"></i>
    </a>
  </div>
</template>
