@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

.favorite-active{
  color:red;
}

#map-canvas {
  height: 50%; margin: 20px; padding: 0;
}
@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.notifications{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}

.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  height: 50px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
  border: 2px solid #4cae4c;
  border-radius: 5px;
  background-color: #5cb85c;
  a,a:active{
    color: white !important;
    i{
      padding-left: 4em;
    }
  }
}
.alertError {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  height: 50px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
  border: 2px solid #4cae4c;
  border-radius: 5px;
  background-color: red;
  a,a:active{
    color: white !important;
    i{
      padding-left: 4em;
    }
  }
}
